@tailwind base;
@tailwind components;
@tailwind utilities;

#headerMain{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.header-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}