

.main{
    height: 500vh;
    width: 100vw;
    background: linear-gradient(310.6deg, rgba(100, 0, 233, 0.94) 6.8%, rgba(166, 0, 188, 0.66) 57.8%);
}

.foot{
    height: fit-content;
    align-items: flex-end;
}


.header-inner{

    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.start{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 122px;
    height: 51px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}